@import url("http://fonts.googleapis.com/css?family=Lato:400,700");

:root {
    --background-color-yellow: #ffc107;
    --text-color-1: white;
    --body-background-color: #005BAA;
    ;
}

a.nav-link {
    color: var(--text-color-1);
    font-size: 18px;
}

nav.navbar.navbar-expand-sm {
    background-color: var(--background-color-yellow);
    height: 79px;
}

body {
    background: var(--body-background-color);
    color: var(--text-color-1);
    font-family: 'Lato', sans-serif;
}

li.nav-item {
    margin-right: 1rem;
}

.cc112 {
    text-align: right;
}

.cc112 {
    font-size: 3.77vw;
}

.row.cc37 {}

.cc112 {
    line-height: initial;
    position: absolute;
    top: 8rem;
    right: 5rem;
}

.cc52 {
    font-weight: bold;
}

.cc87 {
    text-align: right;
}

img.cc188 {
    width: 23%;
    position: absolute;
    right: 4rem;
    top: 20rem;
}

.cc54 {
    position: absolute;
    text-align: center;
    font-size: 2.5rem;
    line-height: initial;
    top: 8rem;
    right: 6rem;
}

img.cc63 {
    position: absolute;
    left: 37rem;
    width: 10%;
}

img.cc2406058084 {
    width: 45%;
    position: absolute;
    left: 0;
    top: 0;
}

img.cc2568338324 {
    position: absolute;
    top: 22em;
    width: 21%;
    left: 8em;
}

img.cc4003000486 {
    position: absolute;
    left: 25em;
    top: 10em;
    width: 15%;
}

img.cc2766663593 {}

img.cc2766663593 {
    width: 19%;
    position: absolute;
    left: -10rem;
    bottom: 0;
}

nav.navbar.navbar-expand-sm {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.cc1082021360 {
    overflow: hidden;
    max-height: 39rem;
    min-height: 39rem;
}

img.cc1062774977 {
    position: absolute;
    left: 25em;
    width: 14%;
    top: 24em;
}

.cc3612105092 {
    position: relative;
    max-height: 18rem;
    min-height: 18rem;
    margin-top: -12rem;
}

img.cc2291668064 {
    position: absolute;
    right: 0rem;
    width: 15%;
    bottom: 0;
}

.cc3976524413 {
    position: relative;
    width: 100%;
    height: 700px;
}

.cc1101706932 {
    position: relative;
    margin-top: 123px;
    height: 567px;
    overflow: hidden;
    border-color: white;
    /* border-style: solid; */
    border-width: 1px;
}

.cc651628470 {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 700px;
}